body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
h1 {
    font-size: 24px;
    margin: 20px;
    color: #333;
}
h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.usuario-logeado {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: #333 2px solid;
    margin-left: 20px;
    padding-left: 20px;
}
.usuario-logeado a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.usuario-logeado a:hover {
    color: #007BFF;
}
.usuario-logeado p {
    margin: 0;
    font-weight: 500;
}
.usuario-logeado img{
    width: 60px;
    border-radius: 50%;
}
.caja_logo img {
    width: 100px;
}
.caja_logo {
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
}
nav ul li a:hover {
    color: #007BFF;
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #f1f1f1;
    color: #666;
    width: 100%;
    bottom: 0;
}

/*Seccion de inicio del dashboard */

.seccion_inicio {
    display: flex;
    padding: 20px;
}
.caja_viajes {
    width: 50%;
}
.mapa_estaciones{
    width: 50%;
}
#map { 
    margin-top: 20px;
    height: 500px; 
    width: 100%;
    border-radius: 20px;
}