body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
}
header {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    gap: 25px;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #00aff0;
    color: white;
    border-color: #00aff0;
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(0, 175, 240, 0.6);
}
.slideshow {
    background: #6e6e6e;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.slideshow .arrow-left,
.slideshow .arrow-right {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
}

.slideshow .arrow-left {
    left: 30px;
}

.slideshow .arrow-right {
    right: 30px;
}
section {
    background: #e9e8e8;
    padding: 40px;
    text-align: center;
    color: #000000;
}
#logo_scooters {
    width: 100px;
    height: auto;
}

footer{
    background-color: #00aff0;
}
.footerContainer{
    width: 100%;
    padding: 20px 0 10px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  15px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
}
.socialIcons a:hover{
    background-color: #000000;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}