body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
}
header {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
}
nav {
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 15px 25px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

nav li:hover {
    background: #b5e8b5;
}

.slideshow {
    background: #6e6e6e;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.slideshow .arrow-left,
.slideshow .arrow-right {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
}

.slideshow .arrow-left {
    left: 30px;
}

.slideshow .arrow-right {
    right: 30px;
}

section {
    background: #ffffff;
    padding: 40px;
    text-align: center;
    color: #000000;
}

footer {
    background: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

a{
    color: aqua;
}
#logo_scooters {
    width: 100px;
    height: auto;
}