body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
}
header {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
}

nav ul {
    background: #00aff0;
    list-style-type: none;
    padding: 12px;
    margin: 0px 0px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    margin: 0px 15px;
    color: #00aff0;
    border-color: #fff;
    transform: scale(1.20);
    box-shadow: 0 0 15px white;
}
.slideshow {
    background: #6e6e6e;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.slideshow .arrow-left,
.slideshow .arrow-right {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
}

.slideshow .arrow-left {
    left: 30px;
}

.slideshow .arrow-right {
    right: 30px;
}
section {
    background: #e9e8e8;
    padding: 40px;
    text-align: center;
    color: #000000;
}
#logo_scooters {
    width: 100px;
    height: auto;
}

footer {
    background-color: #00aff0;
    padding: 20px 0;
    text-align: center;
}

.footerContainer {
    width: 100%;
    margin: 0 auto;
}
.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.socialIcons a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.socialIcons a i {
    color: #111;
    font-size: 35px;
    transition: all 0.3s ease;
}

.socialIcons a:hover {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0 15px white;
    transform: translateY(-5px);
}

.socialIcons a:hover i {
    color: #00aff0;
}

.footerLine ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footerLine ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;     
    transition: all 0.3s ease;
}

.footerLine ul li a:hover {
    color: #333;
    text-shadow: 0 0 15px #333;
    margin: 0px 15px;
    transform: scale(1.20);
}