body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
}
header {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    gap: 25px;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.slideshow {
    background: #6e6e6e;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.slideshow .arrow-left,
.slideshow .arrow-right {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
}

.slideshow .arrow-left {
    left: 30px;
}

.slideshow .arrow-right {
    right: 30px;
}
section {
    background: #e9e8e8;
    padding: 40px;
    text-align: center;
    color: #000000;
}

footer {
    background: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

a{
    color: aqua;
    text-decoration: underline;
}
#logo_scooters {
    width: 100px;
    height: auto;
}

a:hover{
    color: red;
}
