body {
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
}
header {
    background: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    gap: 25px;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #00aff0;
    color: white;
    border-color: #00aff0;
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(0, 175, 240, 0.6);
}
section {
    background: #ffffff;
    padding: 40px;
    text-align: center;
    color: #000000;
}

footer {
    background: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

a{
    color: aqua;
}
#logo_scooters {
    width: 100px;
    height: auto;
}