/* ===== GENERAL ===== */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== HEADER ===== */
header {
    background: #c6c6c6;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* ===== NAVBAR ===== */
nav {
    background: #ddd;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 15px 25px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.2s ease;
}

/* al pasar el mouse */
nav li:hover {
    background: #b5e8b5;     /* verde claro estilo hover */
}

/* ===== SLIDESHOW ===== */
.slideshow {
    background: #6e6e6e;
    color: white;
    padding: 100px 0;
    text-align: center;
    position: relative;
}

.slideshow .arrow-left,
.slideshow .arrow-right {
    position: absolute;
    top: 50%;
    font-size: 32px;
    cursor: pointer;
}

.slideshow .arrow-left {
    left: 30px;
}

.slideshow .arrow-right {
    right: 30px;
}

.random-text {
    background: #ffffff;
    padding: 40px;
    text-align: center;
    color: #000000;
}

footer {
    background: #000000;
    color: white;
    padding: 40px;
    text-align: center;
}

.footer a{
    color: aqua;
}